{%if global.game.game_status == 2%}
<div class="alert alert-success">
成績入力を完了している試合です。

{% if global.team_admin %}
管理者は、保存/決定ができます。
{% endif %}
</div>
{% endif %}

{# 管理者であれば完了状態でも登録できるようにする #}
{% if global.game.game_status != 2 or global.team_admin %}
<div class="stats-post" role="{{role}}">
{% if type == 'all' %}
<button type="button" class="btn btn-default">保存</button>
{% elseif role == 'score' %}
<button type="button" class="btn btn-success">登録</button>
{% elseif role == 'player' %}
<button type="button" class="btn btn-default" data-status="save">保存</button>
<button type="button" class="btn btn-success" data-status="complete">决定</button>
{% else %}
<button type="button" class="btn btn-success" data-status="complete">决定</button>
{% endif %}
</div>
{%endif%}
