{%if global.game.game_status == 2%}
<div class="alert alert-success">
成績入力を完了している試合です。
</div>
{%else%}
<div class="stats-post" role="{{role}}">
{% if type == 'all' %}
<button type="button" class="btn btn-default">保存</button>
{% else %}
<button type="button" class="btn btn-default" data-status="save">保存</button>
<button type="button" class="btn btn-success" data-status="complete">决定</button>
{% endif %}
</div>
{%endif%}
