{% extends 'layout/layout.twig' %}

{% block content %}

<h2>チーム検索</h2>
<hr>

<form class="form-inline" role="search" method="GET">
<div class="form-group">
<input class="form-control input-sm" type="text" name="query" value="{{ input_get('query') }}"> 
</div>

<div class="form-group">
<input class="form-control btn btn-success btn-sm" type="submit" value="検索">
</div>

</form>

{% for team in teams %}

{% if loop.first %}
<table class="table">
<thead>
<tr>
<th>チーム名</th>
</tr>
</thead>
<tbody>
{% endif %}

<tr>
<td><a href="/team/{{ team.url_path }}">{{ team.name }}</a></td>
</tr>

{% if loop.last %}
</tbody>
</table>
{% endif %}

{% else %}
<div class="alert alert-warning">
チームが見つかりませんでした。
</div>
{% endfor %}

{% endblock %}
