{% extends 'layout/layout.twig' %}

{% block content %}

<form class="form-inline" role="search" method="GET">
<div class="form-group">
<input class="form-control" type="text" name="query" value="{{ input_get('query') }}"> 
</div>

<div class="form-group">
<input class="form-control btn btn-info" type="submit" value="検索">
</div>

</form>

<table class="table">

<thead>
<tr>
<th>チーム名</th>
</tr>
</thead>

<tbody>
{% for team in teams %}
<tr>
<td><a href="/team/{{ team.url_path }}">{{ team.name }}</a></td>
</tr>
{% endfor %}
</tbody>

<tfoot>
</tfoot>

</table>

{% endblock %}
