{% extends 'layout/layout.twig' %}

{% block content%}

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<h1>新規ゲーム登録</h1>
{{form}}
</div>
<div class="col-md-2"></div>
</div>

{% endblock content %}

