{% extends "base.twig" %}

{% block content %}

<form>
実施日：<input type="text">
先攻：<input type="text">
後攻：<input type="text">

<input type="submit" value="登録">
</form>

{% endblock %}


{% block css %}
<link href="/bootstrap_formhelpers/css/bootstrap-formhelpers.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/bootstrap_formhelpers/js/bootstrap-formhelpers.min.js"></script>
{% endblock }
