{% extends "base.twig" %}

{% block content %}

<table class="table">
<tr>
<td>実施日：YYYY/MM/DD</td>
</tr>
<tr>
<td>先攻：ヤフー</td>
</tr>
<tr>
<td>後攻：ダブルクリック</td>
</tr>
</table>

<form class="form">
<input type="submit" class="btn btn-danger" value="削除">
</form>

{% endblock %}
