{% extends "layout.twig" %}

{% block content %}


<ul id="mytab" class="nav nav-tabs">
    <!-- hrefにdiv.tab-paneと一緒に指定するIDを -->
    <li class="active"><a href="#team1" data-toggle="tab">チームあああ</a></li>
    <li class=""><a href="#team2" data-toggle="tab">チームいいい</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="team1">

<form class="form" action="#" method="POST">

<table class="table">

<tr>
<th>打順</th>
<th>名前</th>
<th>ポジション</th>
<th>ポジション</th>
<th>ポジション</th>
<th>ポジション</th>
<th>ポジション</th>
<th>ポジション</th>
</tr>

<tr>
<td>1</td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
</tr>

</table>

<input type="submit" class="btn btn-success" value="登録">
</form>

</div>


<div class="tab-pane" id="team2">

<form class="form" action="#" method="POST">

<table class="table">

<tr>
<th>打順</th>
<th>名前</th>
<th>ポジション</th>

<th>内野ゴロ</th>
<th>内野フライ</th>
<th>外野フライ</th>

<th>四球</th>
<th>死球</th>
<th>犠打</th>
<th>打撃妨害</th>

<th>ヒット</th>
<th>二塁打</th>
<th>三塁打</th>
<th>本塁打</th>

<th>打点</th>
<th>得点</th>
<th>盗塁</th>

</tr>

<tr>
<td>4</td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
<td><input type="text" class="form-control bfh-number input-sm"></td>
</tr>

</table>

<input type="submit" class="btn btn-success" value="登録">
</form>

</div>

</div>

{% endblock %}



{% block css %}
{{ parent() }}
<link href="/bootstrap_formhelpers/css/bootstrap-formhelpers.css" rel="stylesheet">

<style>
table th,
table td {
    width: 150px;
}

table td span {
    width: 10px;
}
</style>
{% endblock %}

{% block js %}
{{ parent() }}
<script>
function add_bfh_number() {
    // add bfh-number
    $('table td input').each(function() {
        var $number = $(this);

        $number.addClass("bfh-number");

        var $span = $number.parent().find('span');
        if ( $span[0] ) {
            $span.show();
        }
        else {
            $number.bfhnumber($number.data());
        }
    })
}

function delete_bfh_number() {
    // delete bfh-number
    $('input.bfh-number').each(function() {
        var $number = $(this);

        $number.removeClass('bfh-number');
        $number.parent().find('span').hide();
    });
}

$(document).ready(function() {
});

</script>
{% endblock %}
