{%extends 'layout/admin.twig'%}

{%block content%}

{# header #}
{{parent()}}

<div class="row">
<div class="col-md-4">
<h3>選手情報の更新</h3>
</div>

<div class="col-md-8">
{{form}}
</div>

</div>

{%endblock%}
