{% extends "base.twig" %}

{% block content %}

{{ team_form }}

{{ league_form }}

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>チーム名</th>
<th>所属リーグ</th>
</tr>
</thead>

<tbody>

{% for team in team_list %}
<tr>
<td>{{ team.id }}</td>
<td>{{ team.name }}</td>
<td></td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}
