{{ team }}

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>チーム名</th>
<th>所属リーグ</th>
</tr>
</thead>

<tbody>

{% for team in list %}
<tr>
<td>{{ team.id }}</td>
<td>{{ team.name }}</td>
<td></td>
</tr>
{% endfor %}

</tbody>
</table>
