{%extends 'layout/admin.twig'%}

{%block content%}

{# header #}
{{parent()}}

<div class="row">

<div class="col-md-4">
<h3>利用者情報の更新</h3>

<ul>
<li>権限グループのみ変更可能です。
</ul>
</div>

<div class="col-md-8">
{{form}}
</div>

</div>

{%endblock%}
