[submodule "bms/fuel/packages/oil"]
	path = bms/fuel/packages/oil
	url = git://github.com/fuel/oil.git
[submodule "bms/fuel/packages/auth"]
	path = bms/fuel/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "bms/fuel/packages/orm"]
	path = bms/fuel/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "bms/fuel/packages/email"]
	path = bms/fuel/packages/email
	url = git://github.com/fuel/email.git
