html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
 
/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
  text-align: center;
}


th.team {
  width: 100px;
}
th.sum {
  width: 50px;
}

th.change {
  width: 50px;
}

th.order {
  width: 50px;
}

th.name {
  width: 150px;
}

th.number {
  width: 50px;
}

th.position {
  width: 100px;
}

td.daten {
  width: 70px;
}
td.tokuten {
  width: 70px;
}
td.steal {
  width: 70px;
}
td.error {
  width: 70px;
}

td.button {
  text-align: right;
}
td.daseki-number-text {
  text-align: center;
}
tr.detail {
  background-color: #F5F5F5;  
}

table#pitcher input {
  width: 60px;
}
table#pitcher th {
  text-align: center;
}
table#pitcher td.name {
  text-align: center;
}
table#pitcher td.number {
  text-align: center;
}
table#pitcher td.inning {
  width: 80px;
}
table#pitcher td.result {
  width: 80px;
}
table#pitcher td.hianda {
  width: 80px;
}
table#pitcher td.sanshin {
  width: 80px;
}
table#pitcher td.shishikyuu {
  width: 80px;
}
table#pitcher td.earned-runs {
  width: 80px;
}
table#pitcher td.runs {
  width: 80px;
}

table#game-list tr.own {
  background-color: #FFFFCC;  
}

table#score input {
  width: 40px;
}

table#batter td.daten input,
table#batter td.tokuten input,
table#batter td.steal input,
table#batter td.error input {
  width: 40px;
}

.disable {
  display: none;
}
.red {
  color: red;
}
