html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
 
/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
  text-align: center;
}


th.team {
  width: 100px;
}
th.sum {
  width: 50px;
}

th.change {
  width: 50px;
}

th.order {
  width: 50px;
}

th.name {
  width: 150px;
}

th.number {
  width: 50px;
}

th.position {
  width: 100px;
}

td.button {
  text-align: right;
}
td.daseki-number-text {
  text-align: center;
}
tr.detail {
  background-color: #F5F5F5;  
}

div.batter-stats-container table th, td {
  text-align: center;
}
div.batter-stats-post {
  text-align: center;
}
div.batter-stats-post button {
  margin: 10px;
}

table#pitcher input {
  width: 60px;
}
table#pitcher th {
  text-align: center;
}
table#pitcher td.name {
  text-align: center;
}
table#pitcher td.number {
  text-align: center;
}
table#pitcher td.IP {
  width: 80px;
}
table#pitcher td.result {
  width: 80px;
}
table#pitcher td.H {
  width: 80px;
}
table#pitcher td.SO {
  width: 80px;
}
table#pitcher td.BB {
  width: 80px;
}
table#pitcher td.HB {
  width: 80px;
}
table#pitcher td.ER {
  width: 80px;
}
table#pitcher td.R {
  width: 80px;
}

table#game-list tbody tr {
  cursor: pointer;
}

table#game-list tr.own {
  background-color: #FFFFCC;  
}

table#score input {
  width: 40px;
}

table#batter td.RBI,
table#batter td.R,
table#batter td.SB,
table#batter td.E {
  width: 70px;
}
table#batter td.RBI input,
table#batter td.R input,
table#batter td.SB input,
table#batter td.E input {
  width: 40px;
}

.disable {
  display: none;
}
.red {
  color: red;
}
