{% extends "layout/layout.twig" %}

{% block content %}

<ul class="nav nav-tabs" id="myTab">
  <li><a href="/score">所属チーム成績</a>
  <li class="active"><a href="#">個人成績</a>
</ul>
{{username}}

{% endblock %}
