{% extends "layout/layout.twig" %}

{% block content %}
<h1>Comming soon ...</h1>

{#
<pre>
自分の成績

個人成績
（所属チームごと選択？ -> 否、所属チームごとにアカウント作成）

チーム成績
（チーム総合、対戦成績）
フィルター
 - 種別（練習試合、公式戦、、、etc)
 - 相手

リーグ成績
（対戦成績、個人タイトル、各チーム成績)

ほかチームの成績がみれるかどうかは設定次第。
 - リーグ選択
 - チーム選択

- どんなタイトルを用意するかは設定可能とするが
- 最初はIT LEAGUEのを参考にだす

</pre>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#">所属チーム成績</a>
  <li><a href="/score/record_self">個人成績</a>
</ul>
#}
{% endblock %}
