{% extends "layout/layout.twig" %}

{% block content %}
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#">所属チーム成績</a>
  <li><a href="/score/record_self">個人成績</a>
</ul>

{% endblock %}
