{% extends "layout/layout.twig" %}

{% block content %}

{# about bms #}
<div class="panel panel-info">
<div class="panel-heading"><strong>野球の成績入力を分担しよう！</strong></div>
<div class="panel-body">
<p>
野球の成績管理ができるサイトはいくつかありますが、チームの代表/マネージャー/担当の方などが成績の入力をする形だと思います。
</p>
<p>
このサイトでは、チームの所属選手一人ひとりがアカウントを持つことが可能となっていて、
自分の成績を自分で入力することが出来ます。
</p>
</div>{# div class="panel-body" #}
</div>{# div class="panel panel-info" #}
</div>

{% endblock content %}
