{% extends "layout/layout.twig" %}

{% block content %}

<div class="page-header">
<h1>Admin <small>管理者権限をもっていろいろ操作するページ</small></h1>
</div>

<ul class="nav nav-tabs">
  <li><a href="#user"   data-toggle="tab">利用ユーザー</a></li>
  <li><a href="#member" data-toggle="tab">選手管理</a></li>
  <li><a href="#team"   data-toggle="tab">チーム管理</a></li>
  <li><a href="#league" data-toggle="tab">リーグ管理</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="user">{% block user %}{% endblock %}</div>
  <div class="tab-pane fade" id="member">{% block member %}{% endblock %}</div>
  <div class="tab-pane fade" id="team">{% include 'admin/team.twig' %}</div>
  <div class="tab-pane fade" id="league">{% block league %}{% endblock %}</div>
</div>

{% endblock %}


{% block user %}

<div class="row">
  <div class="col-md-4">{% include "user/menu.twig" %}</div>
  <div class="col-md-8">{% include "user/list.twig" %}</div>
</div>

{% endblock user %}



