{% extends 'layout/layout.twig' %}

{% block content %}

<div class="containar">
<div class="row">

<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="page-header"><h1>Login</h1></div>
  {{ form }}
</div>
<div class="col-md-3"></div>

</div>
</div>

{% endblock content %}


{% block js %}
{{ parent() }}

<script>
$(document).ready(function() {
$("form.form").find('input')[0].focus();
});
</script>

{% endblock %}
