{% extends 'layout/layout.twig' %}

{% block content %}


<div class="row">

<div class="col-md-1"></div>
<div class="col-md-5">
<h3>ログイン</h3>
<p><a href="/auth/oauth/facebook">Facebookアカウントでログイン</a>
<p><a href="/auth/oauth/google">Googleアカウントでログイン</a>
</div>
<div class="col-md-5">
</div>
<div class="col-md-1"></div>

</div>

{% endblock content %}
