{% extends "layout/layout.twig" %}

{% block content %}

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<h1>新規ユーザ登録</h1>
{{form}}

<p><a href="/auth/oauth/facebook">Facebookで登録</a>
<p><a href="/auth/oauth/google">Googleで登録</a>
</div>
<div class="col-md-2"></div>
</div>

{% endblock %}
