{%extends 'layout/layout.twig'%}

{%block content%}
<ul>
<li>パスワードをリセットしました。
<li>新しいパスワードは {{new_password}} です。
<li><a href="/login?url=/user/password">ログイン</a>後、新しいパスワードを設定してください。
</ul>
{%endblock%}
