{% extends "layout/layout.twig" %}

{% block content %}

<h1>Hello <small>野球ばか</small></h1>

アカウントがない場合は<a href="/register">Sign Up</a>
{% endblock %}


{% block js %}
{{ parent() }}
<script>
$(document).ready(function(){
  $('div#bms-navbar li.bms-navbar-top').addClass('active');
});
</script>

{% endblock %}
