{% extends "layout/layout.twig" %}

{% block content %}

<h1>Hello <small>野球ばか</small></h1>

{%if auth_check() == false %}
<ul>
<li><a href="/login">ログイン</a>してください。</li>
<li>アカウントがない場合は<a href="/register">こちら</a></li>
</ul>
{%endif%}


{% endblock %}


{% block js %}
{{ parent() }}
<script>
$(document).ready(function(){
  $('div#bms-navbar li.bms-navbar-top').addClass('active');
});
</script>

{% endblock %}
