{% extends 'layout/layout.twig' %}


{% set menu %}
<ul class="nav nav-stacked nav-pills">
  <li class="{%if uri_segment(2) == 'info'%}active{%endif%}"><a href="/user/info">ユーザー情報</a></li>
  <li class="{%if uri_segment(2) == 'password'%}active{%endif%}"><a href="/user/password">パスワード変更</a></li>
  <li class="{%if uri_segment(2) == 'player'%}active{%endif%}"><a href="/user/player">選手登録</a></li>
</ul>
{% endset %}


{% set main %}
{{form}}
{% endset %}


{% block content %}

<div class="row">
<div class="col-md-3">{{ menu }}</div>
<div class="col-md-9">{{ main }}</div>
</div>
{% endblock %}
