{% extends 'layout/layout.twig' %}

{% block content %}
<h2>大会</h2>

<div class="row">
<div class="col-md-3">
<a href="/convention/add">大会の作成</a>
</div>

<div class="col-md-9">
大会リスト
</div>
</div>
{% endblock %}
