{% extends 'layout/team.twig' %}

{% block main %}

{% if global.team_admin %}
<div class="pull-right">
<a href="{{ global.team.href }}/player">選手一覧へ戻る</a>
</div>
{% endif %}

<h3>プロフィール編集</h3>

{{ form }}
{% endblock main %}
