{% extends 'layout/team.twig' %}

{% block main %}

<h3>新規ゲーム登録</h3>
{{form}}

{% endblock main %}

{% block js %}
{{ parent() }}

<script type="text/javascript">
//datepicker
$('input.form-datepicker').each(function() {
  $self = $(this);
  $self.datepicker().on('changeDate', function(ev) {
    $self.datepicker('hide');
  });
});
</script>
{% endblock js %}
