<table class="table table-hover">

<thead>
<tr>
<th>id</th>
<th>チーム名</th>
<th></th>
</tr>
</thead>

<tbody>
{% for team in teams %}
<tr>
<td>{{ team.id }}</td>
<td>{{ team.name }}</td>
<td>
<form method="DELETE">
<input type="hidden" value="{{team.id}}">
<input type="submit" class="btn btn-danger" value="削除">
</form>
</td>
</tr>
{% endfor %}
</tbody>

</table>
