<!DOCTYPE html>
<html>
  <head>
    <title>
        {%- block title -%}
            Baseball Management System
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <link href="/twbootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{ css }}

    {% endblock css %}

  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>

{% block js %} 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/twbootstrap/js/bootstrap.min.js"></script>

    {{ js }}
{% endblock %}
